{% extends "checklist/base.html" %}

{% load staticfiles %}
{% load account socialaccount %}

{% block head %}
  <script>
    $(function() {
      $('.socialaccount_provider').on('click', function() {
        $.mobile.loading('show');
      });
    });
  </script>

  <style>
    .ui-icon-facebook:after {
      background-image: url("{% static 'checklist/icons/facebook.png' %}");
      background-size: 23px 23px;
    }
    .ui-icon-google:after {
      background-image: url("{% static 'checklist/icons/google.ico' %}");
      background-size: 25px 25px;
    }
  </style>
{% endblock %}

{% block header %}
  <h1>Recurring Checklist</h1>
{% endblock %}

{% block content %}
  <div class="ui-corner-all custom-corners" style="margin-bottom: 1em;">
    <div class="ui-bar ui-bar-a">
      <h3>Sign In</h3>
    </div>
    <div class="ui-body ui-body-a">
      {% get_providers as socialaccount_providers %}
      <p>Please sign in with one of your existing third party accounts.</p>
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </div>
  </div>

  <div class="ui-corner-all custom-corners">
    <div class="ui-bar ui-bar-a">
      <h3>Preview</h3>
    </div>
    <div class="ui-body ui-body-a">
      <p><strong>Features</strong></p>
      <ul>
        <li>Checklist items are refreshed for each interval.</li>
        <li>Each item keeps track of the last time when it has been checked.</li>
      </ul>
      <img src="{% static 'checklist/screenshots/main.png' %}" class="screenshot ui-overlay-shadow" />
      <p>You may also take a look at how you have been doing.</p>
      <img src="{% static 'checklist/screenshots/trends.png' %}" class="screenshot ui-overlay-shadow" />
    </div>
  </div>
{% endblock %}
