{% extends "checklist/base.html" %}

{% block header %}
  <h1>Sign Out</h1>
{% endblock %}

{% block content %}
<p>Are you sure you want to sign out?</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div class="ui-grid-a">
    <div class="ui-block-a">
      <a data-rel="back" class="ui-btn ui-btn-icon-left ui-icon-carat-l ui-corner-all">Cancel</a>
    </div>
    <div class="ui-block-b">
      <button class="ui-btn ui-btn-icon-left ui-icon-delete
          ui-shadow-icon ui-btn-b ui-corner-all" type="submit">
        Yes
      </button>
    </div>
  </div>
</form>
{% endblock %}

{% block footer %}
  <h4>{{ user.get_full_name }}</h4>
{% endblock %}
