{% extends "checklist/base.html" %}
{% load checklist %}
{% load i18n %}

{% block header %}
  <h1>{% trans 'Sign Out' %}</h1>
{% endblock %}

{% block content %}
<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div class="ui-grid-a">
    <div class="ui-block-a">
      <a data-rel="back" class="ui-btn ui-btn-icon-left ui-icon-carat-l ui-corner-all">
        {% trans 'Cancel' %}
      </a>
    </div>
    <div class="ui-block-b">
      <button class="ui-btn ui-btn-icon-left ui-icon-delete
          ui-shadow-icon ui-btn-b ui-corner-all" type="submit">
        {% trans 'Yes' %}
      </button>
    </div>
  </div>
</form>
{% endblock %}

{% block footer %}
  <h4>{{ user | i18n_user_name }}</h4>
{% endblock %}
