<!DOCTYPE html>
<html>  <!-- http://demos.jquerymobile.com/1.4.5/pages/ -->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

  <script>
    $(document).bind("mobileinit", function () {
      $.mobile.ajaxEnabled = false;
    });
  </script>

  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.4/js.cookie.min.js"></script>

  <script>
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }

  $(function() {
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
		var token = Cookies.get('csrftoken');
          xhr.setRequestHeader("X-CSRFToken", token);
        }
      }
    });
  });
  </script>

  <style>
    ul li .ui-icon-check::after { background-color: #1EDC00; }
  </style>
  {% block head %}{% endblock %}
</head>
<body>
  <div data-role="page">
    <div data-role="header">
      {% block header %}<h1>header</h1>{% endblock %}
    </div><!-- /header -->

    <div data-role="content">
      {% block content %}content{% endblock %}
    </div><!-- /content -->

    <div data-role="footer">
      {% block footer %}
        <h4>What is easy to do is easy not to do</h4>
      {% endblock %}
    </div><!-- /footer -->
  </div><!-- /page -->
</body>
</html>
