{% extends "checklist/base.html" %}
{% load checklist %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
  <script src="{% static 'checklist/utils.js' %}"></script>
  <script src="{% static 'checklist/main.js' %}"></script>

  <script>
    var archiveDate = createDate({{ day | date_json }});

    $(function() {
      var today = new Date();
      today.setHours(0, 0, 0, 0);

      if (today <= createDate({{ next_day | date_json }})) {
        $('#next-day-btn').addClass('ui-state-disabled');
      }
    });
  </script>
{% endblock %}

{% block header %}
  <h1>{{ day }}</h1>
  <a href="{% url 'main' %}"
     class='ui-btn-right ui-btn ui-btn-b ui-corner-all ui-shadow ui-btn-inline ui-btn-icon-left ui-icon-home'>
    {% trans 'Today' %}</a>
  <div data-role="navbar" data-iconpos="right">
    <ul>
      <li>
        <a href="{% url 'archives' previous_day.year previous_day.month previous_day.day %}"
            class="ui-btn ui-corner-all ui-btn-inline ui-mini ui-btn-icon-left ui-icon-carat-l">
          {% trans 'Previous Day' %}
        </a>
      </li>
      <li>
        <a href="{% url 'archives' next_day.year next_day.month next_day.day %}"
            id="next-day-btn"
            class="ui-btn ui-corner-all ui-btn-inline ui-mini ui-btn-icon-right ui-icon-carat-r">
          {% trans 'Next Day' %}
        </a>
      </li>
    </ul>
  </div><!-- /navbar -->
{% endblock %}

{% block content %}
  <ul data-role="listview" data-inset="true">
  {% for task in tasks %}
    {% ifchanged task.interval %}
      <li data-role="list-divider">{{ task.interval|interval_label }}</li>
    {% endifchanged %}
    <li data-icon="{% if task.pk in is_task_checked %}check{% else %}plus{% endif %}">
      <a id="btn-{{ task.pk }}"
           onclick="toggle({{ task.pk }}, Interval.DAY, archiveDate, true)" href=#>
        {{ task.name }}
        <span style="display:none;"><span id="cnt-{{ task.pk }}" style="display:none;"></span>
      </a>
    </li>
  {% endfor %}
  </ul>
  <div data-role="popup" id="errorMessage" data-theme="b" data-overlay-theme="a">
    <p>error message placeholder</p>
  </div>
{% endblock %}
