{% extends "checklist/base.html" %}
{% load checklist %}
{% load staticfiles %}

{% block head %}
  <script src="{% static 'checklist/main.js' %}"></script>

  <script>
    var today = new Date();
    today.setHours(0, 0, 0, 0);

    $(function() {
      {% for task in object_list %}
        setLastDate('{{ task.pk }}', {{ task.interval }}, today,
            {{ task.last_date | date_json }});
      {% endfor %}

      $('#footer-date').text(today.toLocaleDateString());
    });
  </script>
{% endblock %}

{% block header %}
  <h1>Checklist</h1>
  <a href="#popupMenu" data-rel="popup" data-icon='bars' class="ui-btn-right ">Menu</a>
  <div data-role="popup" id="popupMenu" data-theme="b">
    <ul data-role="listview" data-inset="true" style="min-width:210px;">
      <li><a href="{% url 'task_list' %}"
             class="ui-btn ui-btn-icon-left ui-icon-bullets">
        Edit List
      </a></li>
      <li><a onclick="openArchives(today)" href="#"
             class="ui-btn ui-btn-icon-left ui-icon-clock">
        Edit Archives
      </a></li>
      <li><a href="{% url 'csv' %}"
             class="ui-btn ui-btn-icon-left ui-icon-arrow-d">
        Download CSV file
      </a></li>
    </ul>
  </div>
{% endblock %}

{% block content %}
  <ul data-role="listview" data-count-theme="b" data-inset="true">
  {% for task in object_list %}
    {% ifchanged task.interval %}
	<li data-role="list-divider">{{ task.interval|interval_label }}</li>
	{% endifchanged %}
	<li><a id="btn-{{ task.pk }}"
           onclick="toggle({{ task.pk }}, {{ task.interval }}, today)" href=#>
      {{ task.name }}
      <span id="cnt-{{ task.pk }}" class="ui-li-count"></span>
    </a></li>
  {% endfor %}
  </ul>
  <div data-role="popup" id="errorMessage" data-theme="b" data-overlay-theme="a">
    <p>error message placeholder</p>
  </div>
{% endblock %}


{% block footer %}
  <h4><span id="footer-date"></span></h4>
{% endblock %}
