{% extends "checklist/base.html" %}
{% load checklist %}
{% load staticfiles %}

{% block head %}
  <script src="{% static 'checklist/utils.js' %}"></script>
  <script src="{% static 'checklist/main.js' %}"></script>

  <script>
    var today = new Date();
    today.setHours(0, 0, 0, 0);

    $(function() {
      {% for task in object_list %}
        setLastDate('{{ task.pk }}', {{ task.interval }}, today,
            {{ task.last_date | date_json }});
      {% endfor %}

      $('#footer-date').text(today.toLocaleDateString());
    });
  </script>
{% endblock %}

{% block header %}
  <h1>Checklist</h1>
  <a href="#popupMenu" data-rel="popup"
     class="ui-btn-right ui-btn ui-btn-b ui-corner-all ui-shadow ui-btn-inline ui-icon-bars ui-btn-icon-left">Menu</a>
  <div data-role="popup" id="popupMenu" data-theme="b">
    <ul data-role="listview" data-inset="true" style="min-width:210px;">
      <li><a href="{% url 'task_list' %}"
             class="ui-btn ui-btn-icon-left ui-icon-bullets">
        Edit List
      </a></li>
      <li><a onclick="openArchives(today)" href="#"
             class="ui-btn ui-btn-icon-left ui-icon-clock {% if not object_list %}ui-state-disabled{% endif %}">
        Edit Archives
      </a></li>
      <li><a href="{% url 'trends' %}"
             class="ui-btn ui-btn-icon-left ui-icon-eye {% if not object_list %}ui-state-disabled{% endif %}">
        View Trends
      </a></li>
      <li><a href="{% url 'csv' %}"
             class="ui-btn ui-btn-icon-left ui-icon-arrow-d {% if not object_list %}ui-state-disabled{% endif %}">
        Download CSV file
      </a></li>
    </ul>
  </div>
{% endblock %}

{% block content %}
  {% if object_list %}
  <ul data-role="listview" data-count-theme="b" data-inset="true">
  {% for task in object_list %}
    {% ifchanged task.interval %}
	<li data-role="list-divider">{{ task.interval|interval_label }}</li>
	{% endifchanged %}
	<li><a id="btn-{{ task.pk }}"
           onclick="toggle({{ task.pk }}, {{ task.interval }}, today)" href=#>
      {{ task.name }}
      <span id="cnt-{{ task.pk }}" class="ui-li-count"></span>
    </a></li>
  {% endfor %}
  </ul>
  <div data-role="popup" id="errorMessage" data-theme="b" data-overlay-theme="a">
    <p>error message placeholder</p>
  </div>

  {% else %}
    <p>The list is empty. Please follow these steps:</p>
    <p>1) Open <strong>Menu</strong></p>
    <img src="{% static 'checklist/screenshots/add_step_1.png' %}" class="screenshot ui-overlay-shadow" />
    <p>2) Select <strong>Edit List</strong></p>
    <img src="{% static 'checklist/screenshots/add_step_2.png' %}" class="screenshot ui-overlay-shadow" />
    <p>3) Press <strong>Add New Item</strong> button</p>
    <img src="{% static 'checklist/screenshots/add_step_3.png' %}" class="screenshot ui-overlay-shadow" />
  {% endif %}
{% endblock %}


{% block footer %}
  <h4>
    {% if user.is_authenticated %}
      {{ user.get_full_name }} |
      <a href="{% url 'account_logout' %}">Sign Out</a> |
    {% endif %}
    <span id="footer-date"></span>
  </h4>
{% endblock %}
