{% extends "checklist/base.html" %}
{% load checklist %}
{% load staticfiles %}
{% load i18n %}

{% block header %}
  <h1>{% trans 'Edit Checklist' %}</h1>
  <a href="{% url 'main' %}"
	 class='ui-btn-right ui-btn ui-btn-b ui-corner-all ui-shadow ui-btn-inline ui-btn-icon-left ui-icon-home'>
    {% trans 'Home' %}
  </a>
{% endblock %}

{% block content %}
  <ul data-role="listview" data-split-icon="delete">
    <li>
      <button onclick="window.open('{% url 'task_create' %}', '_self')"
          class="ui-btn ui-icon-plus ui-btn-icon-left ui-corner-all ui-btn-b">
        {% trans 'Add New Item' %}
      </button>
    </li>
  {% for task in object_list %}
    {% ifchanged task.interval %}
      <li data-role="list-divider">{{ task.interval|interval_label }}</li>
    {% endifchanged %}
    <li>
      <a href="{% url 'task_update' task.pk %}">
        <img src="{% static 'checklist/icons/edit.png' %}"
             class="ui-li-icon" />{{ task.name }}
      </a>
      <a href="{% url 'task_delete' task.pk %}">Delete</a>
    </li>
  {% endfor %}
  </ul>
{% endblock %}
