{% extends "checklist/base.html" %}

{% block header %}
  <h1>Checklist Item</h1>
  <a data-rel="back"
     class='ui-btn-left ui-btn ui-btn-b ui-corner-all ui-shadow ui-btn-inline ui-btn-icon-left ui-icon-carat-l'>
    Back
  </a>
  <a href="{% url 'main' %}"
     class='ui-btn-right ui-btn ui-btn-b ui-corner-all ui-shadow ui-btn-inline ui-btn-icon-left ui-icon-home'>
    Home
  </a>
{% endblock %}

{% block content %}
<form action='' method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  {% for field in form.visible_fields %}
    {{ field.label_tag }}
    {{ field.errors }}
    {{ field }}
  {% endfor %}
  <button class="ui-shadow ui-btn ui-corner-all ui-btn-b" type="submit">
    Submit
  </button>
</form>
{% endblock %}
